:root {
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --font-primary: 'Inter';
    --font-secondary: 'sans-serif';

    --gray-600: #333333;
    --grey-300: #828282;
    --grey-100: #E0E0E0;
    --grey-0: #f5f5f5;
}